#root {
  margin: 0 auto;
  text-align: center;
  place-items: center;
}



@keyframes scroll-left {
  0% {
    transform: translateX(100%); /* Start from the right outside of the container */
  }
  100% {
    transform: translateX(-100%); /* Scroll to the left outside of the container */
  }
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.flexxx {
  display: flex;
  width: 100%;
  justify-content:space-between;
  gap: 0.4em;
}

.listing {
  width: 100%;
  display: flex;
  padding-top:0.4em;
  gap: 0.4em;
  flex-direction: column;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.read-the-docs {
  color: #888;
}
