.syllabus-listing {
    border-radius: 8px;
    background-color: hsl(0, 33%, 99%);
    color: black;
    display: flex;
    padding: 8px;
}

.classname {
    color: #101010;
    font-weight: bold;

}

.professor {
    flex: 1;
}

